"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]

prepend_keymap = [
  { on = "<Up>", run = "arrow -1", desc = "Previous file" }, # prev/next wraps around
  { on = "<Down>", run = "arrow 1", desc = "Next file" },

  { on = "<Home>", run = "arrow top", desc = "Go to top" },
  { on = "<End>", run = "arrow bot", desc = "Go to bottom" },

  { on = "<S-Up>", run = "seek -5", desc = "Seek up 5 units in the preview" },
  { on = "<S-Down>", run = "seek 5", desc = "Seek down 5 units in the preview" },

  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the directory or open the file" },

  { on = "A", run = "create --dir", desc = "Create a directory" },
  { on = "<F7>", run = "create --dir", desc = "Create a directory" },

  { on = "<F2>", run = "rename --cursor=before_ext", desc = "Rename a file or directory" },

  { on = "<Delete>", run = "remove", desc = "Trash selected files" },
  { on = "<S-Delete>", run = "remove --permanently", desc = "Permanently delete selected files" },

  { on = "T", run = "tasks:show", desc = "Show task manager" },

  { on = "<Tab>", run = "tab_switch 1 --relative", desc = "Switch to next tab" },

  { on = ["g", "h"], run = "cd ~", desc = "Home dir" },
  { on = ["g", "d"], run = "cd ~/Downloads", desc = "Downloads dir" },

  { on = ["g", "c"], run = "cd ~/code", desc = "Code dir", for = "unix" },
  { on = ["g", "m"], run = "cd /run/media/greg", desc = "Mount dir", for = "unix" },

  { on = ["g", "a"], run = "cd D:/Apps", desc = "Apps dir", for = "windows" },
  { on = ["g", "c"], run = "cd D:/Code", desc = "Code dir", for = "windows" },
  { on = ["g", "m"], run = "cd D:/Music", desc = "Music dir", for = "windows" },
  { on = ["g", "u"], run = "cd D:/Users", desc = "Users dir", for = "windows" },
  { on = ["g", "w"], run = "cd D:/Win", desc = "Win dir", for = "windows" },
  { on = ["g", "e"], run = "cd E:/Games", desc = "Games dir", for = "windows" },

  { on = [".", "c"], run = "plugin compress", desc = "Compress" },
  { on = [".", "d"], run = "plugin diff", desc = "Diff" },
  { on = [".", "s"], run = "plugin size", desc = "Size" },

  { on = "<C-F1>", run = "help", desc = "Open help" }, # some terminals capture f1
]

[tasks]

prepend_keymap = [{ on = "<C-F1>", run = "help", desc = "Open help" }]

[spot]

prepend_keymap = [{ on = "<C-F1>", run = "help", desc = "Open help" }]

[pick]

prepend_keymap = [{ on = "<C-F1>", run = "help", desc = "Open help" }]

[input]

prepend_keymap = [{ on = "<C-F1>", run = "help", desc = "Open help" }]

[confirm]

prepend_keymap = [{ on = "<C-F1>", run = "help", desc = "Open help" }]

[help]

prepend_keymap = [{ on = "/", run = "filter", desc = "Apply a filter for the help items" }]
