"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]

ratio = [2, 3, 4]
show_hidden = true
show_symlink = false
scrolloff = 3
title_format = "{cwd}"

[preview]

max_width = 1920
max_height = 1080
wrap = "no"

[opener]

edit = [
  { run = "$EDITOR %s1", block = true, desc = "Edit", for = "linux" },
  { run = "nvim %s", block = true, desc = "Edit", for = "windows" },
]
open = [
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = 'start "" %s1', orphan = true, desc = "Open", for = "windows" },
]
open_document = [
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = 'D:\Apps\SumatraPDF\sumatrapdf.exe %s1', orphan = true, desc = "Open", for = "windows" },
]
open_image = [
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = 'D:\Apps\ImageGlass\ImageGlass.exe %s1', orphan = true, desc = "Open", for = "windows" },
]
reveal = [
  { run = "xdg-open %d1", desc = "Reveal", for = "linux" },
  { run = "totalcmd64 /o /p=l %s1", orphan = true, desc = "Reveal", for = "windows" },
]
extract = [
  { run = "ya pub extract --list %s", desc = "Extract", for = "unix" },
  { run = "ya pub extract --list %s", desc = "Extract", for = "windows" },
]
play = [
  { run = "mpv --force-window %s1", orphan = true, desc = "Play", for = "unix" },
  { run = "mpv --force-window %s1", orphan = true, desc = "Play", for = "windows" },
]

[open]

rules = [
  { url = "*/", use = ["open", "reveal"] },
  { mime = "text/*", use = ["edit", "open", "reveal"] },
  { mime = "application/octet-stream", use = ["edit", "open", "reveal"] },
  { mime = "*/{csv,javascript,json,ndjson}", use = ["edit", "reveal"] },
  { url = "*.{epub,pdf}", use = ["open_document", "reveal"] },
  { mime = "image/*", use = ["open_image", "reveal"] },
  { mime = "{audio,video}/*", use = ["play", "reveal"] },
  { mime = "application/{,g}zip", use = ["extract", "reveal"] },
  { mime = "application/{tar,bzip*,7z-compressed,xz,rar}", use = ["extract", "reveal"] },
  { url = "*.zip", use = ["extract", "reveal"] }, # for windows
  { mime = "inode/empty", use = ["edit", "reveal"] },
]

[plugin]

prepend_fetchers = [
  { id = "git", url = "*", run = "git" },
  { id = "git", url = "*/", run = "git" },
]

previewers = [
  { url = "*/", run = "folder" },
  { mime = "text/*", run = "code" },
  { mime = "*/{javascript}", run = "code" },
  { mime = "application/{json,ndjson}", run = "code" },
  # { mime = "application/octet-stream", run = "code" },
  { mime = "image/{avif,hei?,jxl}", run = "magick" },
  { mime = "image/svg+xml", run = "svg" },
  { mime = "image/*", run = "image" },
  { mime = "{audio,video}/*", run = "video" },
  { mime = "application/pdf", run = "pdf" },
  { mime = "application/{7z-compressed,bzip*,gzip,rar,tar,xz,zip}", run = "archive" },
  { url = "*.zip", run = "archive" }, # for windows
  { mime = "application/{iso9660-image,qemu-disk}", run = "archive" },
  { url = "*.{AppImage,appimage,squashfs}", run = "archive" },
  { url = "*.[ot]tf", run = "font" },
  # { mime = "inode/empty", run = "noop" },
  { mime = "vfs/*", run = "vfs" },
  { url = "*", run = "noop" },
]

[input]

cd_title = "Change dir"
cd_origin = "center"
cd_offset = [0, 0, 48, 3]

create_title = ["Create file or dir", "Create dir"]
create_origin = "center"
create_offset = [0, 0, 48, 3]

rename_title = "Rename"
rename_origin = "hovered"
rename_offset = [0, 1, 48, 3]

filter_title = "Filter"
filter_origin = "center"
filter_offset = [0, 0, 48, 3]

find_title = ["Find next", "Find previous"]
find_origin = "center"
find_offset = [0, 0, 48, 3]

search_title = "Search with {n}"
search_origin = "center"
search_offset = [0, 0, 48, 3]

shell_title = ["Shell", "Shell (blocking)"]
shell_origin = "center"
shell_offset = [0, 0, 48, 3]

[confirm]

trash_title = "Trash {n} file{s}?"
trash_origin = "center"
trash_offset = [0, 0, 48, 8]

delete_title = "Delete {n} file{s}?"
delete_origin = "center"
delete_offset = [0, 0, 48, 8]

overwrite_title = "Overwrite?"
overwrite_content = "Overwrite this file?"
overwrite_origin = "center"
overwrite_offset = [0, 0, 48, 8]

quit_title = "Quit?"
quit_content = "Quit with these tasks running?"
quit_origin = "center"
quit_offset = [0, 0, 48, 8]

[pick]

open_title = "Open"
open_origin = "hovered"
open_offset = [0, 1, 16, 8]
